.infos {
    text-align: center;
    margin-bottom: 1rem;
}

#zoomStart, #zoomEnd {
    display: inline-block;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

#zoomStart {
    text-align: 'right';
}

#zoomEnd {
    text-align: 'left';
}

.light {
    color: #AAA;
}

.tooltip {
    position: absolute;
    background: #fff;
    border: 3px solid #e7e7e7;
    border-radius: 1rem;
    padding: .5rem 1rem;
    width: 30rem;
    line-height: 1.4rem;
}

.tooltip::before {
    content: '';
    display: block;
    position: absolute;
    top: -.65rem;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border: 3px solid #e7e7e7;
    border-width: 3px 0 0 3px;
    transform: rotate(45deg);
    z-index: 1;
}

.tooltip.left::before {
    left: 1.65rem;
}

.tooltip.right::before {
    right: 1.65rem;
}

.tooltip .commit {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tooltip .content {
    flex: 1 0 0;
}

.tooltip h3 {
    font-size: 1rem;
}

.tooltip p {
    font-size: .9rem;
    color: #777;
}
