*.pyc
*.log
*secret*
*.egg-info
dist
streamer*.ini
translations
worker_settings.py
hortiradar.sqlite
node_modules
*.js*
flatpickr.min.css
font-awesome.min.css
hortiradar/website/static/fonts/
update*.bash
