{% extends "base.html" %}
{% set active_page = "horti.about" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2>Doel</h2>
    <p>
      De Hortiradar is opgezet met als doel de tuinbouw- en sierteeltsector
      inzichten uit social media te verschaffen, zodat zij weten hoe over hun
      producten wordt gesproken. Het is een initiatief van het <a href="http://bigtu.nl/over-bigtu/">BIGt&u consortium</a>.
    </p>
    <p>
      Deze sectoren hebben woordenlijsten opgesteld met termen waar zij
      geïnteresseerd in zijn, zoals appel en mango van de tuinbouw, en tulp en
      zonnnebloem van de sierteelt. Wij analyseren het gebruik van deze
      trefwoorden in social media.
    </p>

    <h2>Data</h2>
    <p>
      Wij maken gebruik van Twitters <a href="https://dev.twitter.com/streaming/public">public streaming API</a>.
      Deze geeft ons een constante stroom van tweets. Wij analyseren elke tweet,
      en taggen het met de trefwoorden die erin voorkomen. Alle tweets slaan wij
      op in een database waar wij later verdere analyses op uitvoeren.
    </p>
    <p>
      Onze database bevat <b>{{count}}</b> tweets van {{date_oldest_tweet}} tot {{date_latest_tweet}}, waarvan {{count_24h}} in de laatste 24 uur.<br>
      De database neemt <b>{{storage_size}} GB</b> in beslag, ongecomprimeerd zou dit {{size}} GB zijn.
    </p>

    <h2>Vrije Software</h2>
    <p>
      De Hortiradar is <a href="https://fsfe.org/about/basics/freesoftware.nl.html">vrije software</a>.
      De broncode is beschikbaar op GitHub: <a href="https://github.com/mctenthij/hortiradar">https://github.com/mctenthij/hortiradar</a>.
      Alle code is beschikbaar onder voorwaarden van de <a href="https://github.com/mctenthij/hortiradar/blob/master/LICENSE.txt">Apache 2.0 licentie</a>.
    </p>
  </div>
</div>
{% endblock %}
