{% extends "base.html" %}
{% set active_page = "horti.edit_group" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div id="success" class="alert alert-success" role="alert" style="display:none"></div>

    <h1>{{ disp_group }}</h1>

    <p>
      Hier kunt u de trefwoorden aanpassen die in de groep "{{ disp_group }}" geanalyseerd
      worden.
    </p>

    <h2>Toevoegen</h2>
    <p>
      Hier kunt u trefwoorden aan de groep toevoegen. Een trefwoord bestaat uit
      het lemma en de woordsoort. Het lemma is de kanonieke vorm van een woord.
      Voor zelfstandige naamwoorden is het lemma de enkelvoud, en voor
      werkwoorden <a href="http://taaladvies.net/taal/advies/term/45/infinitief/">de infinitief</a>.
    </p>

    <p>
      Let op dat u hier geen hashtags invoert, als u bijvoorbeeld interesse
      heeft in de hashtag <code>#wiskunde</code>, voert u alleen het lemma <code>wiskunde</code> in. Deze zal tweets
      met zowel <code>wiskunde</code> als <code>#wiskunde</code> detecteren.
    </p>

    <p>
      Klik op de "+" om nog een lemma toe te voegen. Laat het lemma leeg als u
      er teveel heeft toegevoegd. Als u alle lemma's heeft ingevoerd die u wilt
      toevoegen, klikt u op het knopje "Toevoegen" hieronder. De lemma's worden
      eerst geanalyseerd of het daadwerkelijk lemma's zijn, zo niet, dan krijgt
      u de (echte) lemma's te zien en kunt u nog een keer klikken op "Toevoegen"
      als u met de verandering(en) tevreden bent.
    </p>

    <form id="lemmaForm">
      <div class="form-group lemma-group">
        <label for="lemma">lemma</label>
        <span class="alert alert-warning" style="display:none"></span>
        <input class="form-control lemma" name="lemma" type="text" value="">

        <label for="woordsoort">woordsoort</label>
        <select class="form-control woordsoort" name="woordsoort">
          <option value="ADJ">bijvoeglijk naamwoord</option>
          <option value="BW">bijwoord</option>
          <option value="SPEC">eigennaam / onbekend</option>
          <option value="LET">leesteken</option>
          <option value="LID">lidwoord</option>
          <option value="TW">telwoord</option>
          <option value="TSW">tussenwerpsel</option>
          <option value="VG">voegwoord</option>
          <option value="VNW">voornaamwoord</option>
          <option value="VZ">voorzetsel</option>
          <option value="WW">werkwoord</option>
          <option value="N">zelfstandig naamwoord</option>
        </select>
        <hr>
      </div>
      <button type="button" id="addFormButton" class="btn btn-default text-right">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>

      <br><br>
      <div id="addKeywordsDiv">
        <button type="button" id="addKeywordsButton" class="btn btn-primary">Toevoegen</button>
        <span id="loading" style="display:none;">
          <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
        </span>
      </div>

    </form>

    <h2>Verwijderen</h2>
    <p>
      Hier ziet u de huidige trefwoorden in de groep. Vink hier een trefwoord
      aan om deze voor verwijdering te selecteren. Klik vervolgens op het
      "Verwijder" knopje onderaan om de verwijdering uit te voeren.
    </p>

    <table class="table">
      <thead>
        <tr>
          <th>Lemma</th>
          <th>Woordsoort</th>
          <th>Verwijder?</th>
        </tr>
      </thead>
      {% for keyword in keywords %}
        <tr class="keyword">
          <td class="lemma">{{ keyword["lemma"] }}</td>
          <td class="pos">{{ keyword["pos"] }}</td>
          <td><input class="delete" type="checkbox"></td>
        </tr>
      {% endfor %}
    </table>

    <button type="button" id="deleteButton" class="btn btn-danger">
      <i class="fa fa-trash-o fa-lg"></i> Verwijder</button>

  </div>
</div>
<script src="{{ url_for("horti.static", filename="edit_group.js") }}"></script>
{% endblock %}
