{% extends "base.html" %}
{% set active_page = "horti.view_group(%s)" % group %}
{% block content %}

{% from "_helpers.html" import render_button %}

<h1>{{ disp_group }}</h1>

<div class="row">
  <div class="col-md-8">
    <p>
      Van {{ start }} tot {{ end }} zijn er {{ total }} tweets gevonden in de groep {{ disp_group }}.
      Hieronder het overzicht. Het percentage is van het totaal aantal tweets in
      deze groep.
    </p>

  </div>
  <div class="col-md-4 text-right">
    {{ render_button("horti.view_group", {"group": group}, period, "day", "Dag") }}
    {{ render_button("horti.view_group", {"group": group}, period, "week", "Week") }}
    {{ render_button("horti.view_group", {"group": group}, period, "month", "Maand") }}
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Trefwoord</th>
          <th>Aantal tweets</th>
          <th>Percentage</th>
        </tr>
      </thead>
      {% for (i, keyword) in nums_keywords %}
        <tr>
          <td>{{ i }}</td>
          <td><a href="{{ url_for("horti.view_keyword", keyword=keyword["keyword"]) }}">{{ keyword["keyword"] }}</a></td>
          <td>{{ keyword["count"] }}</td>
          <td>{{ keyword["percentage"] }}</td>
        </tr>
      {% endfor %}
    </table>

  </div>
</div>
{% endblock %}
