{% extends "base.html" %}
{% block content %}

<h1>Trefwoorden in {{ disp_group }}</h1>

<div class="row">
  <div class="col-md-8">
    <p>
      In de groep {{ disp_group }} zijn {{ total }} trefwoorden. Tweets met deze
      trefwoorden worden door de Hortiradar bijgehouden:
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th>Lemma</th>
          <th>Woordsoort</th>
        </tr>
      </thead>
      {% for keyword in keywords %}
        <tr>
          <td>{{ keyword["lemma"] }}</td>
          <td>{{ keyword["pos"] }}</td>
        </tr>
      {% endfor %}
    </table>

  </div>
</div>
{% endblock %}
