{% extends "base.html" %}
{% set active_page = "horti.home" %}
{% block content %}
<script type="text/javascript">
  window.onload = function() {

    var contents = [];
      $.getJSON(APP_ROOT + '_add_top_k/groente_en_fruit', {k: 10})
      .done(function( data) {
        $.each (data.result, function (idx) {
          contents.push({ label: data.result[idx].label, y: data.result[idx].y });
        });
        var chart = new CanvasJS.Chart("chartContainer_fruit", {
          theme: "theme2",//theme1
          title:{
            text: "Top 10 groenten en fruit"
          },
          animationEnabled: true,   // change to true
          data: [
          {
            // Change type to "bar", "area", "spline", "pie",etc.
            type: "column",
            dataPoints: contents,
            click: onClick
          }
          ],
          axisX: {
            labelFontSize: 19
          },
          axisY:{
            valueFormatString: "##%",
            labelFontSize: 20,
          }
        });
        chart.render();
      })
      .fail( function(jqXHR, textStatus, errorThrown) { console.log("There was an error:", textStatus, errorThrown)});

    var contents2 = [];
      $.getJSON(APP_ROOT + '_add_top_k/bloemen', {k: 10})
      .done(function( data) {
        $.each (data.result, function (idx) {
          contents2.push({ label: data.result[idx].label, y: data.result[idx].y });
        });
        var chart = new CanvasJS.Chart("chartContainer_flower", {
          theme: "theme2",//theme1
          title:{
            text: "Top 10 bloemen en planten"
          },
          animationEnabled: true,   // change to true
          data: [
          {
            // Change type to "bar", "area", "spline", "pie",etc.
            type: "column",
            dataPoints: contents2,
            click: onClick
          }
          ],
          axisX: {
            labelFontSize: 19,
          },
          axisY:{
            valueFormatString: "##%",
            labelFontSize: 20,
          }
        });
        chart.render();
      })
      .fail( function(jqXHR, textStatus, errorThrown) { console.log("There was an error:", textStatus, errorThrown)});

    function onClick(e) {
      window.open(APP_ROOT + "keywords/" + e.dataPoint.label);
    }

  }
</script>
<div id="chartContainer_fruit" style="height: 300px; width: 100%;"></div>
<br>
<br>
<br>
<div id="chartContainer_flower" style="height: 300px; width: 100%;"></div>
<br>
<br>
<br>
<div>Laatste synchronisatietijd: {{sync_time}}</div>
{% endblock %}
