{% extends "base.html" %}
{% set active_page = "horti.home" %}
{% block content %}

{% from "_helpers.html" import render_button %}

<div class="row">
  <div class="col-md-8">
    <p>
      Hieronder de top 10 meest besproken trefwoorden op Twitter in de groepen <a href="{{ url_for("horti.view_group", group="bloemen") }}">Bloemen en Planten</a> en <a href="{{ url_for("horti.view_group", group="groente_en_fruit") }}">Groente en Fruit</a> van {{ start }} tot {{ end }}.
    </p>
  </div>
  <div class="col-md-4 text-right">
    {{ render_button("horti.home", {}, period, "day", "Dag") }}
    {{ render_button("horti.home", {}, period, "week", "Week") }}
    {{ render_button("horti.home", {}, period, "month", "Maand") }}
  </div>
</div>

<br>

<div id="chartContainer_flower" style="height: 300px; width: 100%;"></div>
<br>
<br>
<br>
<div id="chartContainer_fruit" style="height: 300px; width: 100%;"></div>
<br>
<br>
<br>
<div>Laatste synchronisatietijd: {{sync_time}}</div>

<script type="text/javascript">
 var bloemen = {{ bloemen|safe }};
 var groente_en_fruit = {{ groente_en_fruit|safe }};
</script>
<script src="{{ url_for("horti.static", filename="home.js") }}"></script>
{% endblock %}
