{% extends "base.html" %}
{% set active_page = "horti.instagram_account" %}
{% from "_helpers.html" import render_field %}
{% block content %}
<div class="row">
  <div class="col-md-12">

    <h1>Instagram Account Credentials</h1>
    <p>
      Update the Instagram account credentials. If you change the client_id and
      client_secret, you have to request a new access token.
    </p>

    <form method="POST" action="{{ url_for("horti.instagram_account") }}">
      {{ form.csrf_token }}
      {{ render_field(form.client_id) }}
      {{ render_field(form.client_secret) }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h2>Access Token</h2>

    <p>
      Access Token: <b>{{ access_token }}</b>
    </p>

    <p>
      <a href="{{ authorization_url }}">Request new access token</a>
    </p>
  </div>
</div>
{% endblock %}
