{% extends "base.html" %}
{% block content %}

{% from "_helpers.html" import render_button %}

<link rel="stylesheet" href="{{ url_for("horti.static", filename="css/keyword.css") }}">

<h1>{{ keyword }}</h1>

<div id="toc">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#twitter">Twitter</a></li>
    <li role="presentation"><a href="#google">Google</a></li>
  </ul>
</div>

<div class="row">
  <h2 id="twitter" class="offset">Twitter</h2>
  <div class="col-md-8">
    <p>Hieronder de analyse van {{ num_tweets }} tweets die het trefwoord "{{ keyword }}" bevatten van {{ start }} tot {{ end }}.</p>
  </div>
  <div class="col-md-4 text-right">
    {{ render_button("horti.view_keyword", {"keyword": keyword, "hash": "twitter"}, period, "day", "Dag") }}
    {{ render_button("horti.view_keyword", {"keyword": keyword, "hash": "twitter"}, period, "week", "Week") }}
    {{ render_button("horti.view_keyword", {"keyword": keyword, "hash": "twitter"}, period, "month", "Maand") }}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Tijdreeks</h2>
    <div id="splineContainer"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Wordcloud</h2>
    <div id="wordcloudDiv"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2 class="text-center">
      Links
      <span class="small glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="modal" data-target="#linksModal"></span>
    </h2>
    {% if urls %}
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          {% for url in urls %}
            <tr>
              <td>{{ url["occ"] }}</td>
              <td>
                <a class="full-link" href="{{ url["link"] }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                <a class="link">{{ url["display_url"] }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Er zijn geen links gevonden.</p>
    {% endif %}
  </div>

  <div class="modal fade" id="linksModal" tabindex="-1" role="dialog" aria-labelledby="linksModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="linksModalLabel">Links</h4>
        </div>
        <div class="modal-body">
          <p>Klik op een link om deze op de huidige pagina te zien.</p>
          <p>
            Klik op <a><i class="fa fa-external-link" aria-hidden="true"></i></a> om
            de link in een nieuw tabblad te openen.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="iframeModal" tabindex="-1" role="dialog" aria-labelledby="iframeModalLabel">
    <div class="modal-dialog modal-wide" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="iframeModalLabel">Hortiradar Explorer</h4>
        </div>
        <div id="iframe-modal-body" class="modal-body text-center">
          Adres: <a id="iframe-url"></a> (Klik op het adres als deze niet goed laadt.)
          <div id="iframe-container"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 text-center">
    <h2>
      Sentiment
      <span class="small glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="modal" data-target="#sentimentModal"></span>
    </h2>
    <div id="polarity-face">{{ polarity_face }}</div>
    <p>Sentiment: {{ polarity }} (tussen -1 en 1)</p>
  </div>

  <div class="modal fade" id="sentimentModal" tabindex="-1" role="dialog" aria-labelledby="sentimentModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="sentimentModalLabel">Sentiment</h4>
        </div>
        <div class="modal-body">
          <p>Hieronder de gemiddelde sentiment score van de {{ num_tweets }} tweets die het trefwoord "{{ keyword }}" bevatten van {{ start }} tot {{ end }}.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">
      Interactie Netwerk
      <span class="small glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="modal" data-target="#graphModal"></span>
    </h2>

    <div class="modal fade" id="graphModal" tabindex="-1" role="dialog" aria-labelledby="graphModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="graphModalLabel">Interactie Netwerk</h4>
          </div>
          <div class="modal-body">
            <p>
              In het interactie netwerk zie je de interacties tussen gebruikers
              die tweeten over "{{ keyword }}". De zwarte punten zijn de
              gebruikers. Plaats de muis op een punt om in een tooltip de naam
              van de gebruiker te lezen.
            </p>
            <p>
              De lijntjes tussen de punten laten zien om wat voor interactie het
              gaat. <span style="color: red;">Rode lijnen</span> zijn retweets,
              <span style="color: green;">groene lijnen</span> zijn mentions en
              <span style="color: blue;">blauwe lijnen</span> zijn replies.

              De pijltjes tonen de richting van informatieoverdracht. Als A een
              tweet van B retweet, gaat er informatie van B naar A en wijst de
              pijl in het netwerk dus ook van B naar A. Als A een reply tweet
              naar B, wijst A naar B. Als A in een tweet verwijst naar B met een
              mention, dan wijst A naar B.
            </p>
            <p>
              Je kan het netwerk bewegen door op een lege plek te klikken en te
              slepen. Je kan ook in- en uitzoomen door op een lege plek te
              klikken en te scrollen. Individuele gebruikers kan je vastklikken
              en slepen.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
          </div>
        </div>
      </div>
    </div>

    <div id="graphContainer" class="text-center">
      <svg id="interactionGraph" width="960" height="600"></svg>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">
          Foto's
          <span class="small glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="modal" data-target="#picturesModal"></span>
        </h2>
        {% for (i, p) in photos %}
          <div class="photoContainer">
            <img class="twitImage" src="{{ p["link"] }}"><span class="imgText">{{ p["occ"] }}</span>
          </div>
          {% if (i % 2) != 0 %}
            <br>
          {% endif %}
        {% endfor %}
      </div>

      <div class="modal fade" id="picturesModal" tabindex="-1" role="dialog" aria-labelledby="picturesModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="picturesModalLabel">Foto's</h4>
          </div>
          <div class="modal-body">
            <p>
              Linksboven de foto's ziet u hoe vaak een foto is getweet. Klik op
              een foto om deze te vergroten.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
          </div>
        </div>
      </div>
    </div>


      <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel">
        <div class="modal-dialog modal-wide" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="imgModalLabel">Foto</h4>
            </div>
            <div id="img-modal-body" class="modal-body text-center"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Plaatsen</h2>
        <div id="mapDiv"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2 class="text-center">
      Tweets
      <span class="small glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="modal" data-target="#tweetsModal"></span>
    </h2>

    <div class="modal fade" id="tweetsModal" tabindex="-1" role="dialog" aria-labelledby="tweetsModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="tweetsModalLabel">Tweets</h4>
          </div>
          <div class="modal-body">
            <p>
              Klik op <b>willekeurig</b> om een willekeurige selectie van tweets
              te zien. U krijgt een nieuwe selectie van tweets als u
              herhaardelijk op deze knop klikt.
            </p>
            <p>
              Klik op <b>retweets</b> om een lijst van retweets te zien. De
              retweets zijn gesorteerd van meest naar minst aantal retweets.
            </p>
            <p>
              Klik op <b>interacties</b> om tweets te zien die interacties
              aangeven tussen gebruikers. Dit zijn de tweets die mentions
              bevatten of antwoorden ("replies") zijn op andere tweets. De tweet
              waar op wordt geantwoord, wordt bovenaan de tweet getoond met een
              donkerder achtergrond. Als u vaker klikt op "interacties", krijgt
              u een ander willekeurige selectie van interactie tweets te zien.
            </p>
            <p>
              Klik op <b>Zie Alle Tweets</b> om naar een aparte pagina te
              navigeren waar alle tweets te zien zijn.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-default" id="sample">willekeurig</button>
      <button type="button" class="btn btn-default" id="retweets">retweets</button>
      <button type="button" class="btn btn-default" id="interactions">interacties</button>
      <a href="{{ url_for("horti.view_tweets_about_keyword", keyword=keyword) }}">Zie Alle Tweets <i class="fa fa-external-link" aria-hidden="true"></i></a>
    </div>
    <div id="tweets">
      {% for t in range(display_tweets) %}
        <div id="tweet{{t}}"></div>
      {% endfor %}
    </div>
  </div>
</div>

<br>

<div class="row">
  <h2 id="google" class="offset">Google</h2>
  <div class="col-md-8">
    <p>Hieronder een analyse van zoekopdrachten op Google over het trefwoord in de afgelopen {{ period_name }}.</p>
  </div>
  <div class="col-md-4 text-right">
    {{ render_button("horti.view_keyword", {"keyword": keyword, "hash": "google"}, period, "day", "Dag") }}
    {{ render_button("horti.view_keyword", {"keyword": keyword, "hash": "google"}, period, "week", "Week") }}
    {{ render_button("horti.view_keyword", {"keyword": keyword, "hash": "google"}, period, "month", "Maand") }}
  </div>
</div>

<div class="row">
  <br>
  <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1173_RC01/embed_loader.js"></script>
  <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword": "{{ keyword }}","geo":"NL","time":"{{ gtrends_period }}"}],"category":0,"property":""}, {"exploreQuery":"date={{ gtrends_period }}&geo=NL&q={{ keyword }}","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>
</div>

<div class="row">
  <br>
  <div class="col-md-6">
    <script type="text/javascript"> trends.embed.renderExploreWidget("RELATED_TOPICS", {"comparisonItem":[{"keyword": "{{ keyword }}","geo":"NL","time":"{{ gtrends_period }}"}],"category":0,"property":""}, {"exploreQuery":"date={{ gtrends_period }}&geo=NL&q={{ keyword }}","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>
  </div>

  <div class="col-md-6">
    <script type="text/javascript"> trends.embed.renderExploreWidget("RELATED_QUERIES", {"comparisonItem":[{"keyword": "{{ keyword }}","geo":"NL","time":"{{ gtrends_period }}"}],"category":0,"property":""}, {"exploreQuery":"date={{ gtrends_period }}&geo=NL&q={{ keyword }}","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>
  </div>
</div>

<script type="text/javascript">
 var keyword_data = {{ keyword_data|safe }};
 var display_tweets = {{ display_tweets }};
 var graph = {{ graph|safe }};
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud.css">
<script src="https://platform.twitter.com/widgets.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA0adISATP5Nhic-ghCRijy6KOirg-k60"></script>
<script src="{{ url_for("horti.static", filename="keyword.js") }}"></script>
{% endblock %}
