{% extends "base.html" %}
{% block content %}

{% from "_helpers.html" import render_button %}

<link rel="stylesheet" href="{{ url_for("horti.static", filename="css/news.css") }}">

<h1>{{ keyword }}</h1>

<div id="toc">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#news">News</a></li>
  </ul>
</div>

<div class="row">
  <h2 id="news" class="offset">Europe Media Monitor</h2>
  <div class="col-md-8">
    <p>Hieronder een overzicht van de nieuwsberichten over het trefwoord "{{ keyword }}" in de afgelopen {{ period_name }} zijn opgepikt door de Europe Media Monitor <a href="http://emm.newsexplorer.eu/NewsExplorer/home/en/latest.html" target="_blank">(EMM)</a>.</p>
  </div>
  <div class="col-md-4 text-right">
    {{ render_button("horti.view_news", {"keyword": keyword, "hash": "news"}, period, "day", "Dag") }}
    {{ render_button("horti.view_news", {"keyword": keyword, "hash": "news"}, period, "week", "Week") }}
    {{ render_button("horti.view_news", {"keyword": keyword, "hash": "news"}, period, "month", "Maand") }}
  </div>
</div>

<div class="row">
  {% if news %}
    <div class="newsContainer"><table class="table table-condensed"><tbody>
      {% for n in news %}
        <tr>
          <td>
            <a class="full-link" href="{{ n["link"] }}" target="_blank"><b>{{ n["title"] }}</b><i class="fa fa-external-link" aria-hidden="true"></i></a>
            <div class="newsInformation"><tt><b><img src="{{ url_for("horti.static",filename=n["flag"]) }}" /> {{ n["source"] }}: {{ n["pubdate"] }}</b></tt></div>
            <div class="rule"></div>
            <div class="newsSummary">{{ n["description"] }}....</div>
        </td></tr>
      {% endfor %}
      <tr><td></td></tr>
    </tbody></table></div>
  {% else %}
    <p>Er zijn geen nieuws items gevonden over het trefwoord "{{ keyword }}".</p>
  {% endif %}
</div>

{% endblock %}
