{% extends "base.html" %}
{% block content %}

{% from "_helpers.html" import render_button %}

<link rel="stylesheet" href="{{ url_for("horti.static", filename="css/peak.css") }}">

<h1>Piekdetectie</h1>

<div class="row">
    <div class="col-md-12">
        <p>Op deze pagina worden de producten weergegeven waarbij een piek in de activiteit ontdekt is op {{ text_dt }}. Van deze pieken worden vervolgens alle termen met betrekking tot deze pieken weergegeven.</p>
    </div>
</div>

<div class="row">
    {% if peaks %}
        {% for p in range(num_peaks) %}
            <div id="peakContainer{{p}}" class="peakContainter">
                <div class="col-md-12">
                    <h2 class="text-center" id="title{{p}}"><h2>
                </div>
                <div class="col-md-2">
                    <h3>
                        Tijdreeks<span class="small glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="modal" data-target="#tijdreeksModal"></span>
                    </h3>
                </div>
                <div class="col-md-10">
                    <div id="splineContainer{{p}}" class="splineContainer"></div>
                </div>
                <div class="col-md-2">
                    <h3>
                        Termen<span class="small glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="modal" data-target="#treemapModal"></span>
                    </h3>
                </div>
                <div class="col-md-10">
                    <div id="treemapContainer{{p}}"><svg id="treemap{{p}}"></svg></div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12"><p>Er zijn geen pieken in activiteit gedetecteerd.</p></div>
    {% endif %}
</div>

<div class="modal fade" id="tijdreeksModal" tabindex="-1" role="dialog" aria-labelledby="tijdreeksModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tijdreeksModalLabel">Tijdreeks</h4>
            </div>
            <div class="modal-body">
                <p>
                    Dit onderdeel toont het aantal tweets dat per uur geplaatst wordt voor het 
                    weergegeven trefwoord in de afgelopen week. De gestippelde lijn geeft het gemiddelde 
                    dagelijkse patroon van tweets aan, de doorgetrokken lijn zijn de ontvangen tweets en 
                    de zwarte gestippelde lijn geeft de drempelwaarde aan waarboven de activiteit tot een 
                    piek bestempeld wordt. De precieze waarden van de tijdreeksen kunnen per uur afgelezen 
                    worden in een tooltip door de muis over de grafiek te bewegen.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="treemapModal" tabindex="-1" role="dialog" aria-labelledby="treemapModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="treemapModalLabel">Termen overzicht</h4>
            </div>
            <div class="modal-body">
                <p>
                    Dit onderdeel toont een visualisatie van de termen die gebruikt worden over het 
                    weergegeven trefwoord. Het precieze aantal keer dat een term gebruikt is kan 
                    afgelezen worden in een tooltip door de muis over de grafiek te bewegen.
                </p>
                <p>
                    Door te klikken op een term wordt extra informatie over deze term weergegeven 
                    in een tooltip. Deze extra informatie is een samenvatting die van Wikipedia 
                    verworven is.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var peaks = {{ peaks|safe }};
    var num_peaks = {{ num_peaks|safe }};
    var text_dt = "{{ text_dt|safe }}";
</script>

<script src="{{ url_for("horti.static", filename="peak.js") }}"></script>
{% endblock %}