{% extends "base.html" %}
{% set active_page = "horti.profile" %}
{% block content %}
<div class="row">
  <div class="col-md-12">

    <h1>Welkom, {{ current_user.username }}!</h1>

    {% if is_admin %}
      <h2>Admin</h2>

      <p>
        U bent een administrator, ga naar de <a href="{{ url_for("horti.admin") }}">admin pagina</a> om
        globale aanpassing aan de Hortiradar uit te voeren.
      </p>
    {% endif %}

    <h2>Groepen</h2>
    {% if has_group %}
      <p>
        U kunt de volgende groepen aanpassen. Klik op een groep onder het kopje "Bekijken" om de trefwoorden in die groep te bekijken. Voor het aanpassen van de trefwoorden, klikt u op de groepsnaam onder het kopje "Aanpassen".
      </p>

      <h3>Bekijken</h3>
      <ul>
        {% for (group, label) in groups %}
          <li><a href="{{ url_for("horti.view_group", group=group) }}">{{ label }}</a></li>
        {% endfor %}
      </ul>

      <h3>Aanpassen</h3>
      <ul>
        {% for (group, label) in groups %}
          <li><a href="{{ url_for("horti.edit_group", group=group) }}">{{ label }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>
        Er zijn geen groepen die u kunt aanpassen. Vraag een administrator om
        hulp als dat wel zou moeten zijn.
      </p>
    {% endif %}

    {% if not has_confirmed_email %}
      <h2>E-mail Bevestigen</h2>
      <p>
        U heeft uw e-mailadres <code>{{ current_user.email }}</code> nog niet
        bevestigd. Klik <a href="{{ url_for("user.resend_confirm_email") }}">hier</a> om
        opnieuw het bevestigings e-mail te versturen.
      </p>
    {% endif %}

    <h2>Account</h2>

    <p>Beheer uw account.</p>

    <ul>
      <li><a href="{{ url_for("user.change_password") }}">Verander wachtwoord</a></li>
      <li><a href="{{ url_for("user.change_username") }}">Verander gebruikernaam</a></li>
    </ul>

  </div>
</div>
{% endblock %}
