{% extends "base.html" %}
{% set active_page = "horti.profile" %}
{% block content %}
<div class="row">
  <div class="col-md-12">

    <h1>Welkom, {{ current_user.username }}!</h1>

    {% if is_admin %}
      <h2>Admin</h2>

      <p>
        U bent een administrator, ga naar de <a href="{{ url_for("horti.admin") }}">admin pagina</a> om
        globale aanpassing aan de Hortiradar uit te voeren.
      </p>
    {% endif %}

    <h2>Groepen</h2>
    {% if has_group %}
      <p>
        U kunt de volgende groepen aanpassen. Klik op "edit" om de trefwoorden
        in uw groepen aan te passen.
      </p>

      <ul>
        {% for (group, label) in groups %}
          <li><a href="{{ url_for("horti.view_group", group=group) }}">{{ label }}</a> <a href="{{ url_for("horti.edit_group", group=group) }}">(edit)</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>
        Er zijn geen groepen die u kunt aanpassen. Vraag een administrator om
        hulp als dat wel zou moeten zijn.
      </p>
    {% endif %}

    {% if not has_confirmed_email %}
      <h2>E-mail Bevestigen</h2>
      <p>
        U heeft uw e-mailadres nog niet bevestigd. Klik <a href="{{ url_for("user.resend_confirm_email") }}">hier</a> om
        opnieuw het bevestigings e-mail te versturen.
      </p>
    {% endif %}

  </div>
</div>
{% endblock %}
