{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="{{ url_for('static',filename='js/jqcloud.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/jqcloud.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/details.css') }}" />
<script type="text/javascript">

Url = {
    get get(){
        var vars= {};
        if(window.location.search.length!==0)
            window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value){
                key=decodeURIComponent(key);
                if(typeof vars[key]==="undefined") {vars[key]= decodeURIComponent(value);}
                else {vars[key]= [].concat(vars[key], decodeURIComponent(value));}
            });
        return vars;
    }
};

window.onload = function () {
  var contents = [];
  var timeSeries = [];
  var words = [];

  if (Url.get.end === undefined) {
    query_interval = 60*60*24*7
  } else {
    query_interval = 60*60
  }

  $.getJSON($SCRIPT_ROOT+'/_get_details',{product: Url.get.product, interval: query_interval, end: Url.get.end})
    .done(function( data) {
      $.each (data.result.timeSeries, function (idx) {
        timeSeries.push({ x: new Date(
          data.result.timeSeries[idx].year,
          data.result.timeSeries[idx].month-1,
          data.result.timeSeries[idx].day,
          data.result.timeSeries[idx].hour
          ), y: data.result.timeSeries[idx].value });
        });
      var chart = new CanvasJS.Chart("splineContainer", {
        // title:{
        //   text: "Time Series of tweets for "+Url.get.product
        // },
        animationEnabled: true,   // change to true
        axisX: {
          valueFormatString: "YYYY-MM-DD HH",
          interval: 6,
          intervalType: "hour",
          labelAngle: 50

        },
        data: [
        {
          type: "line", //change it to line, area, column, pie, etc
          dataPoints: timeSeries,
          click: onClick
        }
        ]
      });
      chart.render();

      var pageTitle = $('h1#product')
      $("h1#product").html("Details page for "+Url.get.product+".");

      var twList = $('ul#tweetsList')

      $.each(data.result.tweets, function (idx,val) {

        if(idx < 15) { // Display a maximum of 15 tweets
          var li = $('<li><div id="'+val+'"></div></li>')
          .appendTo(twList);

          var tweet = document.getElementById(val);
          twttr.widgets.createTweet(
          val, tweet,
          {
            conversation : 'none',    // or all
            cards        : 'hidden',  // or visible
            linkColor    : '#cc0000', // default is blue
            theme        : 'light',    // or dark
            lang         : 'nl'
          })
        }

      });

      var urlList = $('ul#urlList')
      $.each(data.result.URLs, function (idx) {

        if(idx < 15) { // Display a maximum of 15 urls
          var li = $('<li>'+data.result.URLs[idx].occ+') <a href="'+data.result.URLs[idx].link+'">'+data.result.URLs[idx].link+'</a></li>')
          .appendTo(urlList);
        }

      });

      var medList = $('div#mediaDiv')
      $.each(data.result.photos, function (idx) {

        if(idx < 15) { // Display a maximum of 15 photos

          if (idx%3 == 2) {
            '<div id="photoContainer"><img class="twitImage" src="'+data.result.photos[idx].link+'" /><span id="text">'+data.result.photos[idx].occ+'</span></div>'
            var li = $('<img class="twitImage" src="'+data.result.photos[idx].link+'" /><br />')
            .appendTo(medList);
          }
          else{
            var li = $('<img class="twitImage" src="'+data.result.photos[idx].link+'" />')
            .appendTo(medList);
          }
        }

      });


      var words = [];
      $.each (data.result.tagCloud, function (idx) {
        if (data.result.tagCloud[idx].text != Url.get.product) {
          words.push({ text: data.result.tagCloud[idx].text, weight: 50*data.result.tagCloud[idx].weight^2 });
        } else {
          console.log(data.result.tagCloud[idx].text)
        }
        });
      $('#wordcloudDiv').jQCloud(words, {
        autoResize: false
      });

      // Create a map object and specify the DOM element for display.
      var map = new google.maps.Map(document.getElementById('mapDiv'), {
        center: {lat: data.result.centerloc.lat, lng: data.result.centerloc.lng},
        disableDefaultUI: true,
        zoom: 6
      });

      $.each(data.result.locations, function (idx) {
        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: {lat: data.result.locations[idx].lat, lng: data.result.locations[idx].lng}
        });

      });

    })
    .fail( function(jqXHR, textStatus, errorThrown) { console.log("There was an error:", textStatus, errorThrown)})
    .always( function() { console.log("Completed")});

    function onClick(e) {
      var year = String(e.dataPoint.x.getFullYear())
      var month = String(e.dataPoint.x.getMonth()+1)
      var day = String(e.dataPoint.x.getDate())
      var hour = String(e.dataPoint.x.getHours())
      window.open("details.html?product="+Url.get.product+"&end="+year+"-"+month+"-"+day+" "+hour+":00")
    }

}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA0adISATP5Nhic-ghCRijy6KOirg-k60" async defer></script>

<div id="content">
  <div id="wrapper" class="title"> <h1 id="product">Details page</h1> </div>
  <div class="horizontalSpacer"></div>
  <div id="wrapper">
    <div id="tweetsContainer">
      <ul id="tweetsList"></ul>
    </div>
    <div id="contentContainer">
      <div id="wrapper" class="title"> <h2>Time series</h2> </div>
      <div id="wrapper">
        <div id="splineContainer"></div>
      </div>

      <div id="wrapper" class="main">
        <div id="urlContainer">
          <div id="wrapper" class="title"> <h2> Links </h2></div>
          <div class="horizontalSpacer"></div>
          <div id="urlDiv">
            <ul id="urlList"></ul>
          </div>
        </div>
        <div id="wordcloudContainer">
          <div id="wrapper" class="title"> <h2> Wordcloud </h2></div>
          <div class="horizontalSpacer"></div>
          <div id="wordcloudDiv"></div>
        </div>
      </div>

      <div id="wrapper" class="main">
        <div id="mapContainer">
          <div id="wrapper" class="title"> <h2> Locations </h2></div>
          <div class="horizontalSpacer"></div>
          <div id="mapDiv"></div>
        </div>
        <div id="mediaContainer">
          <div id="wrapper" class="title"> <h2> Photos </h2></div>
          <div class="horizontalSpacer"></div>
          <div id="mediaDiv"></div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
