<!DOCTYPE html>
<html>
  <head>
    <title>Hortiradar - BigTU research project</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js" integrity="sha256-CIc5A981wu9+q+hmFYYySmOvsA3IsoX+apaYlL0j6fg=" crossorigin="anonymous"></script>
    <script sync src="https://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript">
     var APP_ROOT;
     if (window.location.host.slice(0, 4) === "acba") {
         APP_ROOT = "/" + window.location.pathname.split("/")[1] + "/";
     } else {
         APP_ROOT = "/";
     }
    </script>
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>
</html>
